[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sphinx = "*"
pydata-sphinx-theme = "0.3.1"
sphinx-tabs = "*"
make = "*"
urllib3 = ">=1.26.5"
Pygments = ">=2.7.4"
jinja2 = ">=2.11.3"
